.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}


.wrapper-app {
    border: 3px solid rgba(0, 255, 255, 0.87);
    padding: 10px;
    width: 240px;
    height: 240px;
}



.spanStyle {
    color: red;
}


.display {
    border: 3px solid rgba(10, 455, 255, 0.87);
    height: 80px;
}


.buttonStyle {
    border: 3px solid rgba(10, 455, 255, 0.87);
    height: 80px;
    padding: 10px;

}

.inc {
    width: 50px;
    height: 30px;
    border: 2px solid #56faff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
}

.reset {
    display: grid;
    width: 60px;
    height: 30px;
    padding: 10px;
}