.App {
    display: flex;
    align-items: center;
    justify-content: center;

}


.wrapper-app {
    border: 3px solid rgba(12, 88, 170, 0.44);
    padding: 10px;
    width: 240px;
    height: 240px;
}

.spanStyle {
    color: red;

}
