

.App {
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;




}


.General-border {
    border: 3px solid #56faff;
    padding: 10px;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}



.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56faff;
    width: 230px;
    height: 110px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bold;
    font-size: 50px;
}

.spanStyle {
    color: red;

}








.Button-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #56faff;
    height: 80px;
    padding: 10px;
    border-radius: 10px;

}

.button {
    width: 70px;
    height: 40px;
    border: 5px solid #56faff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
}

